<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>基本走势</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/login/vendor/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all"/>
    <link rel="stylesheet" th:href="@{/static/admin/css/main.css}" media="all"/>
    <style>
        .content1 {
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
        }

        .head {
            background: #448833;
        }

        .no {
            background: grey;
        }

        .ok {
            background: deepskyblue;
        }

        .btn-click-trend{
            background-color: 	#F4A460;
        }
        td button{
            width: auto;
        }
        .btn-nums-select{
            cursor: pointer;;
        }
    </style>
</head>
<body>


<div class="content1">
    <table class="table table-bordered" table border="1" cellspacing="0">
        <tr class="head">
            <td rowspan="2">期号</td>
            <td rowspan="2" colspan="3">开奖号码</td>
            <td colspan="2">龙头</td>
            <td colspan="2">凤尾</td>
            <td colspan="3">龙头012路</td>
            <td colspan="3">凤尾012路</td>
            <td colspan="4">0路个数</td>
            <td colspan="4">1路个数</td>
            <td colspan="4">2路个数</td>
        </tr>
        <tr class="head">
            <td>质</td>
            <td>合</td>
            <td>质</td>
            <td>合</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr th:each="re:${lists}">

            <td th:text="${re.termNo}"></td>
            <td th:text="${re.prizeNo01}"></td>
            <td th:text="${re.prizeNo02}"></td>
            <td th:text="${re.prizeNo03}"></td>
            <td th:text="${re.dragonPrime.substring(3)}" th:class="${re.dragonPrime.substring(0,2)}"></td>
            <td th:text="${re.dragonComposite.substring(3)}" th:class="${re.dragonComposite.substring(0,2)}"></td>
            <td th:text="${re.phoenPrime.substring(3)}" th:class="${re.phoenPrime.substring(0,2)}"></td>
            <td th:text="${re.phoenComposite.substring(3)}" th:class="${re.phoenComposite.substring(0,2)}"></td>
            <td th:text="${re.dragonArea0.substring(3)}" th:class="${re.dragonArea0.substring(0,2)}"></td>
            <td th:text="${re.dragonArea1.substring(3)}" th:class="${re.dragonArea1.substring(0,2)}"></td>
            <td th:text="${re.dragonArea2.substring(3)}" th:class="${re.dragonArea2.substring(0,2)}"></td>
            <td th:text="${re.phoenArea0.substring(3)}" th:class="${re.phoenArea0.substring(0,2)}"></td>
            <td th:text="${re.phoenArea1.substring(3)}" th:class="${re.phoenArea1.substring(0,2)}"></td>
            <td th:text="${re.phoenArea2.substring(3)}" th:class="${re.phoenArea2.substring(0,2)}"></td>
            <td th:text="${re.area0Num0.substring(3)}" th:class="${re.area0Num0.substring(0,2)}"></td>
            <td th:text="${re.area0Num1.substring(3)}" th:class="${re.area0Num1.substring(0,2)}"></td>
            <td th:text="${re.area0Num2.substring(3)}" th:class="${re.area0Num2.substring(0,2)}"></td>
            <td th:text="${re.area0Num3.substring(3)}" th:class="${re.area0Num3.substring(0,2)}"></td>
            <td th:text="${re.area1Num0.substring(3)}" th:class="${re.area1Num0.substring(0,2)}"></td>
            <td th:text="${re.area1Num1.substring(3)}" th:class="${re.area1Num1.substring(0,2)}"></td>
            <td th:text="${re.area1Num2.substring(3)}" th:class="${re.area1Num2.substring(0,2)}"></td>
            <td th:text="${re.area1Num3.substring(3)}" th:class="${re.area1Num3.substring(0,2)}"></td>
            <td th:text="${re.area2Num0.substring(3)}" th:class="${re.area2Num0.substring(0,2)}"></td>
            <td th:text="${re.area2Num1.substring(3)}" th:class="${re.area2Num1.substring(0,2)}"></td>
            <td th:text="${re.area2Num2.substring(3)}" th:class="${re.area2Num2.substring(0,2)}"></td>
            <td th:text="${re.area2Num3.substring(3)}" th:class="${re.area2Num3.substring(0,2)}"></td>

        </tr>
        <!--点击事件-->
        <tr>
            <td><button id="submit-choose-trend" type="button" >提交</button></td>
            <td><button id="clear-trend" type="button" >清</button></td>
            <td colspan="2">->点选</td>
            <td class="btn-nums-select">质</td>
            <td  class="btn-nums-select">合</td>
            <td  class="btn-nums-select">质</td>
            <td class="btn-nums-select">合</td>
            <td class="btn-nums-select">0</td>
            <td class="btn-nums-select">1</td>
            <td class="btn-nums-select">2</td>
            <td class="btn-nums-select">0</td>
            <td class="btn-nums-select">1</td>
            <td class="btn-nums-select">2</td>
            <td class="btn-nums-select">0</td>
            <td class="btn-nums-select">1</td>
            <td class="btn-nums-select">2</td>
            <td class="btn-nums-select">3</td>
            <td class="btn-nums-select">0</td>
            <td class="btn-nums-select">1</td>
            <td class="btn-nums-select">2</td>
            <td class="btn-nums-select">3</td>
            <td class="btn-nums-select">0</td>
            <td class="btn-nums-select">1</td>
            <td class="btn-nums-select">2</td>
            <td class="btn-nums-select">3</td>
        </tr>

        <!--底部统计 start-->
        <tr th:each="stat:${statics}">
            <td th:text="${stat.description}" colspan="4"></td>
            <td th:text="${stat.dragonPrime}"></td>
            <td th:text="${stat.dragonComposite}"></td>
            <td th:text="${stat.phoenPrime}"></td>
            <td th:text="${stat.phoenComposite}"></td>
            <td th:text="${stat.dragonArea0}"></td>
            <td th:text="${stat.dragonArea1}"></td>
            <td th:text="${stat.dragonArea2}"></td>
            <td th:text="${stat.dragonArea0}"></td>
            <td th:text="${stat.dragonArea1}"></td>
            <td th:text="${stat.dragonArea2}"></td>
            <td th:text="${stat.area0Num0}"></td>
            <td th:text="${stat.area0Num1}"></td>
            <td th:text="${stat.area0Num2}"></td>
            <td th:text="${stat.area0Num3}"></td>
            <td th:text="${stat.area1Num0}"></td>
            <td th:text="${stat.area1Num1}"></td>
            <td th:text="${stat.area1Num2}"></td>
            <td th:text="${stat.area1Num3}"></td>
            <td th:text="${stat.area2Num0}"></td>
            <td th:text="${stat.area2Num1}"></td>
            <td th:text="${stat.area2Num2}"></td>
            <td th:text="${stat.area2Num3}"></td>
        </tr>
        <!--底部统计 end-->

        <tr class="head">
            <td rowspan="2">期号</td>
            <td colspan="3" rowspan="2">开奖号码</td>
            <td>质</td>
            <td>合</td>
            <td>质</td>
            <td>合</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr class="head">
            <td colspan="2">龙头</td>
            <td colspan="2">凤尾</td>
            <td colspan="3">龙头012路</td>
            <td colspan="3">凤尾012路</td>
            <td colspan="4">0路个数</td>
            <td colspan="4">1路个数</td>
            <td colspan="4">2路个数</td>
        </tr>

    </table>
</div>

<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/dragon/main.js}"></script>
</body>
</html>